<div class="container">
<h2>WHYYYY!?</h2>

<p>A question we're still asking ourselves too. Why 2016, why!?</p>
<p>Another Terrible Year is a collective internet bitching post because it's pretty clear that it sucked across the board. Plus, it's cheaper than therapy. Find catharsis in venting and watching this shit go up in flames.</p>
<p><img src="https://media3.giphy.com/media/26FPy3QZQqGtDcrja/200_s.gif"></p>
</div>
