<div class="about-hero">
  <div class="about-wrapper">
    <h6> 2016 is the WORST</h6><br/>
    <button class ="btn waves-effect waves-light teal lighten-2">
      <%= link_to("SEE WHY", posts_path) %>
    </button>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col s8">
      <h2 class="fire">WHYYYY!?</h2>

      <p class="why">A question we're still asking ourselves too. Why 2016, why!?</p>
      <p class="why">Another Terrible Year is a collective internet bitching post because it's pretty clear that it sucked across the board. Plus, it's cheaper than therapy. Find catharsis in venting and watching this shit go up in flames.</p>
        <p><br/>
          <button class ="btn waves-effect waves-light teal lighten-2">
            <%= link_to("SIGN UP NOW", new_user_path) %>
          </button>
        </p>
    </div>
    <div class="col s4">
      <p><img src="https://media3.giphy.com/media/26FPy3QZQqGtDcrja/200_s.gif"></p>
    </div>
  </div>
</div>
