
    <div class="home-hero">
      <div class="wrapper">
        <button class="browser-default button"><%= link_to("SHARE YOUR SHIT", new_post_path) %></button>
        <h5>Not a user? <%= link_to("Sign up", new_user_path)%> now to talk shit about 2016!</h5>
      </div>
    </div>
