
    <div class="home-hero">
      <div class="wrapper">
        <!-- <button class="browser-default button"> -->
        <button class ="btn waves-effect waves-light teal lighten-2">
            <%= link_to("SHARE YOUR SHIT", new_post_path) %>
        </button>
        <h6>Not a user? <%= link_to("Sign up", new_user_path)%> now to talk shit about 2016!</h6>
      </div>
    </div>
