<h3>2016: Another Terrible Year</h3>

<% post = @posts.order(:date) %>
<% post.each do |p| %>
<p>
  <%= p.date %>
  <%= link_to(p.title, post_path(p)) %>
</p>
<% end %>

Sam, you need to come back here and fix this display - and make sure it shows chronologically.
