// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collection {
  background-color: white;
  .row{
    .collection-item{
      .circle{
        padding: 8px;
      }
    }
  }
}

.home-hero{
  background-image: url("http://res.cloudinary.com/dum3wmulco/image/upload/v1480568979/fire-home_oirmop.jpg");
  background-size: cover;
  height: 70vh;
}

.about-hero{
  background-color: black;
  height: 40vh;
}

.wrapper {
  text-align: center;
  margin-top: 45vh;
}
