// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-hero{
  background-image: url("http://res.cloudinary.com/dum3wmulco/image/upload/v1480568979/fire-home_oirmop.jpg");
  background-size: cover;
  height: 70vh;
}

.about-hero{
  background-image: url("http://giffiles.alphacoders.com/141/14132.gif");
  background-size: cover;
  background-color: black;
  height: 40vh;
}

.wrapper {
  text-align: center;
  margin-top: 50vh;
}

.about-wrapper {
  text-align: center;
  margin-top: 25vh;
}

div.container {
  .row{
    padding-top: 40px;
  }
}
